<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rental_management.system.mapper.DevCardMapper">
	<insert id="insert">
		insert into
		gd_dev_card(dev_id,card_id) values(
		#{devId,jdbcType=NUMERIC},
		#{cardId,jdbcType=NUMERIC}
		);
	</insert>
	<delete id="deletecard" parameterType="int">
		delete from gd_dev_card where
		card_id=#{cardId}
	</delete>
	<delete id="deletedev" parameterType="int">
		delete from gd_dev_card where
		dev_id=#{devId}
	</delete>
	<delete id="deletedevcard">
	    delete from gd_dev_card where dev_id=#{devId} and card_id=#{cardId}
	</delete>
	<!-- 更新设备的卡 -->
	<update id="updatecard" >
		update gd_dev_card set
		card_id=#{cardId,jdbcType=NUMERIC}
		where dev_id=#{devId}
	</update>
	<!-- 更新卡的设备 -->
	<update id="updatedev">
		update gd_dev_card set
		dev_id=#{devId,jdbcType=NUMERIC}
		where card_id=#{cardId}
	</update>
	<select id="selectcard" parameterType="int" resultType="int">
		select dev_id from
		gd_dev_card where card_id=#{cardId}
	</select>
	<select id="selectdev" parameterType="int" resultType="int">
		select card_id from
		gd_dev_card where dev_id=#{devId}
	</select>
	<select id="selectdevall" resultType="int">
	    select dev_id from
		gd_dev_card
	</select>
	<select id="selectcardall" resultType="int">
	    select card_id from
		gd_dev_card
	</select>
	
</mapper>