<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rental_management.system.mapper.DevMapper">
	<resultMap type="rental_management.system.bean.Dev" id="dev">
		<id property="id" column="id" />
		<result property="cdp" column="cdp" />
		<result property="name" column="name" />
		<result property="houseAddress" column="house_address" />
		<result property="houseId" column="house_id" />
	</resultMap>

	<insert id="insert" parameterType="rental_management.system.bean.Dev">
		insert into
		gd_dev_let(cdp,name,house_address,house_id) values(
		#{cdp,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{houseAddress,jdbcType=VARCHAR},
		#{houseId,jdbcType=NUMERIC}
		);
	</insert>
	<delete id="delete" parameterType="int">
		delete from gd_dev_let where id=#{id}
	</delete>
	<update id="update" parameterType="rental_management.system.bean.Dev">
		update gd_dev_let set
		cdp=#{cdp,jdbcType=VARCHAR},
		name=#{name,jdbcType=TIMESTAMP},
		house_address=#{houseAddress,jdbcType=VARCHAR},
		house_id=#{houseId,jdbcType=NUMERIC}
		where id=#{id}
	</update>
	<select id="selecthouse" resultMap="dev">
		select id,cdp,name,house_address,house_id from gd_dev_let
		where house_id=#{houseId}
	</select>
	<select id="selectid" resultMap="dev">
		select id,cdp,name,house_address,house_id from gd_dev_let where id=#{id}
	</select>
	<select id="selectAll" resultMap="dev">
		select id,cdp,name,house_address,house_id from gd_dev_let
	</select>
</mapper>