<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rental_management.system.mapper.SystemMenuMapper">
<resultMap type="rental_management.system.bean.SystemMenu" id="menu">
    <id property="id"  column="ID"/>
    <result property="name" column="NAME"/>
    <result property="defineRight" column="DEFINE_RIGHT"/>
    <result property="pageUrl" column="PAGE_URL"/>
    <result property="pid" column="pid"/>
</resultMap>

	<select id="getByPId" resultMap ="menu" parameterType="int" >
		select id,name,define_right,page_url,pid from tbl_system_menu where pid=#{parentId}
	</select>
	
	<select id="selectId" resultMap="menu" parameterType="int">
	    select id,name,define_right,page_url,pid from tbl_system_menu where id=#{id}
	</select>
	
	<insert id="save" parameterType="rental_management.system.bean.SystemMenu">
	insert into tbl_system_menu(name,define_right,page_url,pid) values (
		#{name,jdbcType=VARCHAR},
		#{defineRight,jdbcType=VARCHAR},
		#{pageUrl,jdbcType=VARCHAR},
		#{pid,jdbcType=NUMERIC}
	    )
	</insert>
	
	<update id="update" parameterType="rental_management.system.bean.SystemMenu">
	    update tbl_system_menu set 
	    name= #{name,jdbcType=VARCHAR},
	    define_right=#{defineRight,jdbcType=VARCHAR},
		page_url=#{pageUrl,jdbcType=VARCHAR},
		pid=#{pid,jdbcType=NUMERIC}
	    where id=#{id}
	</update>
	
	<delete id="delete" parameterType="int">
	    delete from tbl_system_menu where id=#{id}
	</delete>
	
</mapper>