<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rental_management.system.mapper.SystemRoleMapper">
	<resultMap type="rental_management.system.bean.SystemRole"
		id="role">
		<id property="id" column="ID" />
		<result property="flag" column="FLAG" />
		<result property="roleName" column="ROLE_NAME" />
		<result property="status" column="STATUS" />
		<result property="roleId" column="role_id" />
	</resultMap>

	<select id="list" resultMap="role">
		select
		id,flag,role_name,status from tbl_system_role_info
	</select>

	<select id="selectId" resultMap="role" parameterType="int">
		select id,flag,role_name,status from tbl_system_role_info where id=#{id}
	</select>

	<select id="selectName" resultMap="role" parameterType="String">
		select id,flag,role_name,status from tbl_system_role_info where location=#{name}
	</select>
	<select id="selectRoleId" parameterType="int" resultMap="role">
		select id,flag,role_name,status from tbl_system_role_info where id=#{id}
	</select>
	<insert id="save" parameterType="rental_management.system.bean.SystemRole">
		insert into tbl_system_role_info(role_name,flag,status) values (
		#{roleName,jdbcType=VARCHAR},
		#{flag,jdbcType=VARCHAR},
		#{status,jdbcType=NUMERIC}
		)
	</insert>

	<update id="update" parameterType="rental_management.system.bean.SystemRole">
		update tbl_system_role_info set
		role_name= #{roleName,jdbcType=VARCHAR},
		flag=#{flag,jdbcType=VARCHAR},
		status=#{status,jdbcType=NUMERIC}
		where id=#{id}
	</update>
	<delete id="delete" parameterType="int">
		delete from tbl_system_role_info where id=#{id}
	</delete>

</mapper>