<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zm.admin.mapper.SysMenuMapper">
	<resultMap id="BaseResultMap" type="com.zm.admin.dao.SysMenu">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="Name" property="name" jdbcType="VARCHAR" />
		<result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
		<result column="p_Id" property="pId" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		Id, Name, page_url, p_Id
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.zm.admin.dao.SysMenuExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from sys_menu
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_menu
		where Id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_menu
		where Id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.zm.admin.dao.SysMenuExample">
		delete from sys_menu
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.zm.admin.dao.SysMenu">
		insert into sys_menu (Id, Name, page_url,
		p_Id)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{pageUrl,jdbcType=VARCHAR},
		#{pId,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.zm.admin.dao.SysMenu">
		insert into sys_menu
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				Id,
			</if>
			<if test="name != null">
				Name,
			</if>
			<if test="pageUrl != null">
				page_url,
			</if>
			<if test="pId != null">
				p_Id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pageUrl != null">
				#{pageUrl,jdbcType=VARCHAR},
			</if>
			<if test="pId != null">
				#{pId,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.zm.admin.dao.SysMenuExample"
		resultType="java.lang.Integer">
		select count(*) from sys_menu
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update sys_menu
		<set>
			<if test="record.id != null">
				Id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.name != null">
				Name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.pageUrl != null">
				page_url = #{record.pageUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.pId != null">
				p_Id = #{record.pId,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update sys_menu
		set Id = #{record.id,jdbcType=INTEGER},
		Name = #{record.name,jdbcType=VARCHAR},
		page_url = #{record.pageUrl,jdbcType=VARCHAR},
		p_Id = #{record.pId,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.zm.admin.dao.SysMenu">
		update sys_menu
		<set>
			<if test="name != null">
				Name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pageUrl != null">
				page_url = #{pageUrl,jdbcType=VARCHAR},
			</if>
			<if test="pId != null">
				p_Id = #{pId,jdbcType=INTEGER},
			</if>
		</set>
		where Id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zm.admin.dao.SysMenu">
		update sys_menu
		set Name = #{name,jdbcType=VARCHAR},
		page_url = #{pageUrl,jdbcType=VARCHAR},
		p_Id = #{pId,jdbcType=INTEGER}
		where Id = #{id,jdbcType=INTEGER}
	</update>
	<select id="getByPId" resultMap="BaseResultMap" parameterType="int">
		select Id,Name,page_url,p_Id from sys_menu where
		p_Id=#{parentId}
	</select>
</mapper>